<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Local Gantry GAC" value="C:\Users\Apache\source\repos\MDK\Gantry\.publish" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Local Gantry GAC">
			<package pattern="VintageStory.Gantry.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
